/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2017, 4:10:22 PM
    Author     : MacIntosh
*/

.buttonize {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: .5em;
    width : 145px;
    text-align: center;
}